title: HueCodes
description: Math/CS @ UW
url: "https://huecodes.github.io"
baseurl: ""

markdown: kramdown
highlighter: rouge

permalink: /blog/:title/

exclude:
  - README.md
  - Gemfile
  - Gemfile.lock
  - vendor

collections:
  projects:
    output: true
    permalink: /projects/:name/
